body{
  margin: 0 auto;
  padding: 0;
  background-color: #746E77;
  overflow: hidden;
  font-family: 'Muli', sans-serif;
}

button:focus {
  outline: none;
}

#btn-start {
  font-family: 'Ubuntu Mono', sans-serif;
  margin: auto;
  display: block;
  padding: 50px 70px 50px 70px;
  text-align: center;
  color: #862423;
  font-size: 24px;
  text-shadow: 1px 1px 1px #862423;
  background-color: transparent;
  border: 5px solid #862423;
  border-radius: 5px;
}


#btn-start:hover {
  cursor: pointer;
  background-color: #862423;
  color: #F4423F;
}

.start {
  margin: auto;
  position:absolute;
}

.starth1 { /* starting title's section */
  margin-top: 160px;
  display: block;
  font-size: 75px;
  text-shadow: 3px 3px 2px #862423;
  animation-delay: 2s;
}

#proname { /* starting title */
  color: #6DE234;
  text-shadow: 2px 2px 2px #398413;
}

.startspan {
  font-size:32px;
  display: block;
  text-shadow: 1px 1px 2px #862423;
  animation-delay: 3s;
}

.main-container {
  margin: auto;
  padding: 0;
  width: 10px;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: absolute;
  background-color: #F4423F;
  box-shadow: inset 0 0 20px #862423;
}

.console { /* console's body */
  /* position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block; */
  flex-direction: column;
  margin: auto;
  width: 550px;
  height: 350px;
  background-color: #422537;
  border: 3px solid #311B29;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #862423;
  animation-delay: 1.5s;
}

.mainWindow { /* console's screen */
  font-family: 'Ubuntu Mono', sans-serif;
  text-align: left;
  padding-top: 25px;
  padding-left: 5px;
  color: #6DE234;
}

.header { /* iConsole text's section */
  background-color: #746E77;
  text-align: center;
  padding: 4px 5px 3px 8px;
}

.terminal { /*>_ fake button*/
  float: left;
  margin-bottom: 5px;
}

.minimize { /* - fake button */
  float: right;
  padding: 3px;
}

.exit { /* x fake button*/
  float: right;
  padding: 3px;
}

#header-h { /* console's name */
  margin: 0;
  display:inline-block;
  font-size: 17px;
  margin-bottom: 5px;
  text-shadow: 1px 1px 2px #6D696D;
}

.explainJS { /* JavaScript description */
  /* position: absolute;
  display: inline-block;
  height: max-content;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  max-width: 350px;
  margin: auto 50px auto 50px;
  padding: 10px;
  background-color: #422537;
  border: 3px solid #311B29;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #862423;
  animation-delay: 1s;
}

.explainJS h2 { /* JavaScript title description */
  text-decoration: underline;
  background-color: #844E6F;
  padding: 3px;
  border-radius: 5px;
  text-decoration-color: #422537;
}

.explainJS div {
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #422537;
  margin-top: 5px;
  font-size: 18px;
  display: block;
  background-color: #844E6F;
  border-radius: 5px;
}

.explainJS button { /* button that will make the JavaScript description appear */
  padding: 5px;
  margin: 5px;
  margin-bottom: 0;
  width: 50px;
  text-align: center;
  text-shadow: 1px 1px 1px #422537;
  background-color: #844E6F;
  border: 2px solid #311B29;
  border-radius: 5px;
  display: inline-block;
  margin-top: 5px;
}

.explainJS button:hover{
 cursor: pointer;
 background-color: #9A6E89;
}

.btn {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  padding: 5px;
  text-shadow: 1px 1px 1px #422537;
  background-color: #844E6F;

  /* width: 550px;
  height: 100px;
  text-align: center;
  border: 2px solid #311B29;
  border-radius: 5px;
  position: absolute;
  bottom: 0; */
}

.btn button {
  padding: 5px;
  margin: 5px;
  text-align: center;
  text-shadow: 1px 1px 1px #422537;
  background-color: #844E6F;
  border: 2px solid #311B29;
  border-radius: 5px;
}

.btn button:hover{
 cursor: pointer;
 background-color: #9A6E89;
}

.circle {
  position: absolute;
  left: -100px;
  top: 150px;
  width: 100px;
  height: 100px;
  background-color: #FFB20F;
  border-radius: 5%;
  box-shadow: inset 0px 0px 50px #FF9900;
}

.circle-r {
  position: absolute;
  right: -100px;
  top: 150px;
  width: 100px;
  height: 100px;
  background-color: #FFB20F;
  border-radius: 5%;
  box-shadow: inset 0px 0px 50px #FF9900;
}

.el {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin: -.5em 0 0 -.5em;
  /*border: .05em solid currentColor;*/
  /*background-color: currentColor;*/
  font-size: 40px;
  /*border-radius: 50%;*/
  transform: scale(0);
}

.end {
  padding: 0;
  margin: 0;
  margin-top: auto;
  font-family: 'Ubuntu Mono', sans-serif;
  color: #6DE234;
  text-shadow: 2px 2px 2px #398413;
  text-align: center;
}

.end h1 {
  margin: 0;
  margin-bottom: 3px;
  font-size: 45px;
}

.fireworks {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
